<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<typeAliases>
<typeAlias alias="notice_dao" type="portfolio2.notice_dao"/>
<typeAlias alias="item_dao" type="portfolio2.item_dao"/>
</typeAliases>
</configuration>