<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>reservation</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
  <servlet-name>insert</servlet-name>
  <servlet-class>reservation.insert2</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>insert</servlet-name>
  <url-pattern>/insert2.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>select</servlet-name>
  <servlet-class>reservation.select2</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>select</servlet-name>
  <url-pattern>/select2.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>update</servlet-name>
  <servlet-class>reservation.update2</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>update</servlet-name>
  <url-pattern>/update2.jsp</url-pattern>
  </servlet-mapping>  
  <servlet>
  <servlet-name>delete</servlet-name>
  <servlet-class>reservation.delete2</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>delete</servlet-name>
  <url-pattern>/delete2.jsp</url-pattern>
  </servlet-mapping>    
   <servlet>
  <servlet-name>indata</servlet-name>
  <servlet-class>reservation.indata</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>indata</servlet-name>
  <url-pattern>/indata.jsp</url-pattern>
  </servlet-mapping>   
    <servlet>
  <servlet-name>input</servlet-name>
  <servlet-class>reservation.input</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>input</servlet-name>
  <url-pattern>/input.html</url-pattern>
  </servlet-mapping>    
    <servlet>
  <servlet-name>list</servlet-name>
  <servlet-class>reservation.list</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>list</servlet-name>
  <url-pattern>/list.html</url-pattern>
  </servlet-mapping>     
</web-app>