<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>
<div class="footer_b">
    <div class="resp_wrap">
        <ul class="menu2">
            <li><a href="./company.jsp" designElement="text" textIndex="1">회사소개</a></li>
            <li><a href="./agreement.jsp" designElement="text" textIndex="2">이용약관</a></li>
            <li><a href="./privacy.jsp" designElement="text" textIndex="3"><strong>개인정보처리방침</strong></a></li>
            <li><a href="./guide.jsp" designElement="text" textIndex="4">이용안내</a></li>
            <li><a href="#" designElement="text">제휴안내</a></li>
            <li><a href="./cs.do" designElement="text" textIndex="5">고객센터</a></li>               
        </ul>
    </div>
</div>
<div class="resp_wrap">
    <ul class="footer_contents">
        <li class="footer_a1">
            <h3 class="title"><a href="./cs.do" designElement="text" textIndex="6" target="_self">CS CENTER</a></h3>
            <ul class="menu">
                <li class="company_phone">
                    <a href="tel:02-1234-5678">02-1234-5678</a>
                </li>
                <li class="open_close">
                    <p designElement="text" textIndex="7">MON-FRI : AM 09:00 ~ PM 06:00 &nbsp;/&nbsp;  SAT, SUN, HOLIDAY OFF</p>
                </li>
                <li class="open_close">
                    <p designElement="text" textIndex="8">LUNCH &nbsp; &nbsp; : AM 12:00 ~ PM 01:00</p>
                </li>
            </ul>
            <!-- //고객센터 -->
        </li>
        <li class="footer_b1">
            <h3 class="title"><span designElement="text" textIndex="9"   >BANK INFO</span></h3>
            <ul class="menu">
                <li class="company_bank">
                    <p class="bank_info"><span designElement="text" textIndex="10"   >HOLDER</span> : 주식회사 0000 / 신한은행 1234-56-413414</p>
                </li>
            </ul>
            <!-- //무통장 입금계좌 -->
        </li>
        <li class="footer_c1">
            <h3 class="title"><span designElement="text" textIndex="11"   >DELIVERY INQUIRY</span></h3>
            <ul class="menu">					
                <li class="besong_search">
                    <span designElement="text" textIndex="12"   >DELIVERY : ○○○택배 1588-0000</span> &nbsp; &nbsp;
                    <a href="#" target="_blank" title="새창" class="link_f" designElement="text" textIndex="13" alt="택배사 배송추적 주소를 입력하세요.">배송추적</a>
                </li>
            </ul>
            <!-- //배송 정보 -->
        </li>
    </ul>        
</div>
<div class="footer_c">
    <div class="resp_wrap">
        <div class="line">
            <ul class="menu3">
                    <li class="footer_a1">
            <h3 class="title"><a href="./cs.do" designElement="text" textIndex="15"    target="_self">CS CENTER</a></h3>
            <ul class="menu">
                <li class="company_phone">
                    <a href="tel:02-1234-5678">02-1234-5678</a>
                </li>
                <li class="open_close">
                    <p designElement="text" textIndex="16"   >MON-FRI : 10:00 ~ 19:00 &nbsp;</p>
                </li>
                <li class="open_close">
                    <p designElement="text" textIndex="17"   >SAT, SUN, HOLIDAY : 11:00~20:00</p>
                </li>
            </ul>
            <!-- //고객센터 -->
        </li>
        <li class="footer_b1">
            <h3 class="title"><span designElement="text" textIndex="18"   >BANK INFO</span></h3>
            <ul class="menu">
                <li class="company_bank">
                    <p class="bank_info"><span designElement="text" textIndex="19"   >HOLDER</span> : 주식회사 0000 / 신한은행 0000-00-000000</p>
                </li>
            </ul>
            <!-- //무통장 입금계좌 -->
        </li>
        <li class="footer_c1">
            <h3 class="title"><span designElement="text" textIndex="20"   >매장안내</span></h3>
            <ul class="menu">
                 <li class="refund_address">
                    <span designElement="text" textIndex="21"   >주소 :</span> 
                </li>
            </ul>
            <!-- //배송 정보 -->
        </li>
                
            </ul>
            
        </div>
    </div>
</div>




<div class="footer_c">
    <div class="resp_wrap">
        <div class="line">
            <ul class="menu3">
                <li class="company"><span designElement="text" textIndex="22"   ></span> / <span class="pcolor">르네프로스트 X 아쿠아릭 /</span></li>
                <li class="ceo"><span designElement="text" textIndex="23"   >CEO</span> : <span class="pcolor">홍길동 </span></li>
                <li class="address"><span designElement="text" textIndex="24"   >ADDRESS</span> : <span class="pcolor"></span></li>
                <li class="phone"><span designElement="text" textIndex="25"   >TEL</span> : <a href="tel:02-1234-5678" class="link_f">02-1234-5678</a></li>
                <li class="company"><span designElement="text" textIndex="26"   >COMPANY</span> : <span class="pcolor">주식회사 00</span></li>
                <li class="business_license"><span designElement="text" textIndex="27"   >BUSINESS LICENCE</span> :  000-00-00000 &nbsp; &nbsp; <span class="link_f"><a href="#">사업자정보확인</a></span></li>
                <li class="mailselling_license"><span designElement="text" textIndex="28"   >ONLINE LICENCE</span> : <span class="pcolor">2022-인테리어-0576</span></li>
                <li class="member_info_manager"><span designElement="text" textIndex="29"   ><span xss=removed>PRIVACY OFFICER</span></span> : <span class="pcolor">홍길동 (<a class="pcolor" href="mailto:test@gmail.com">test@gmail.com</a>)</span></li>
                
            </ul>
            <!-- //회사 정보 -->
            <p class="copyright" designElement="text" textIndex="30"   >COPYRIGHT (c) <strong class="pcolor">인테리어 TRENDY LIVING IDEA</strong>&nbsp; ALL RIGHTS RESERVED.</p>
            <div class="escrow"></div>
        </div>
    </div>
</div>