<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>portfolio</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
  <servlet-name>add_masterok</servlet-name>
  <servlet-class>admin_configure.add_masterok</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>add_masterok</servlet-name>
  <url-pattern>/add_masterok.do</url-pattern>
  </servlet-mapping>
   <servlet>
  <servlet-name>add_idcheck</servlet-name>
  <servlet-class>admin_configure.add_idcheck</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>add_idcheck</servlet-name>
  <url-pattern>/add_idcheck.do</url-pattern>
  </servlet-mapping> 
  <servlet>
  <servlet-name>loginok</servlet-name>
  <servlet-class>admin_configure.loginok</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>loginok</servlet-name>
  <url-pattern>/loginok.do</url-pattern>
  </servlet-mapping> 
  <servlet>
  <servlet-name>admin_listok</servlet-name>
  <servlet-class>admin_configure.admin_listok</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>admin_listok</servlet-name>
  <url-pattern>/admin_listok.do</url-pattern>
  </servlet-mapping> 
  <servlet>
  <servlet-name>admin_siteinfook</servlet-name>
  <servlet-class>admin_configure.admin_siteinfook</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>admin_siteinfook</servlet-name>
  <url-pattern>/admin_siteinfook.do</url-pattern>
  </servlet-mapping>   
  <servlet>
  <servlet-name>admin_config</servlet-name>
  <servlet-class>admin_configure.admin_config</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>admin_config</servlet-name>
  <url-pattern>/admin/admin_config.html</url-pattern>
  </servlet-mapping>   
    <servlet>
  <servlet-name>index</servlet-name>
  <servlet-class>admin_configure.index</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>index</servlet-name>
  <url-pattern>/admin/index.html</url-pattern>
  </servlet-mapping>   
  <servlet>
  <servlet-name>admin_main</servlet-name>
  <servlet-class>admin_configure.admin_main</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>admin_main</servlet-name>
  <url-pattern>/admin/admin_main.html</url-pattern>
  </servlet-mapping>   
  <servlet>
  <servlet-name>admin_notice_write</servlet-name>
  <servlet-class>admin_configure.admin_notice_write</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>admin_notice_write</servlet-name>
  <url-pattern>/admin/admin_notice_write.html</url-pattern>
  </servlet-mapping>   
  <servlet>
  <servlet-name>admin_notice</servlet-name>
  <servlet-class>admin_configure.admin_notice</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>admin_notice</servlet-name>
  <url-pattern>/admin/admin_notice.html</url-pattern>
  </servlet-mapping>  
    <servlet>
  <servlet-name>notice_list</servlet-name>
  <servlet-class>admin_configure.notice_list</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>notice_list</servlet-name>
  <url-pattern>/admin/notice_list.html</url-pattern>
  </servlet-mapping>  
  <servlet>
  <servlet-name>notice_writeok</servlet-name>
  <servlet-class>admin_configure.notice_writeok</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>notice_writeok</servlet-name>
  <url-pattern>/notice_writeok.do</url-pattern>
  </servlet-mapping>  
  <servlet>
  <servlet-name>amdin_product</servlet-name>
  <servlet-class>admin_product.admin_product</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>amdin_product</servlet-name>
  <url-pattern>/admin/admin_product.html</url-pattern>
  </servlet-mapping>    
  <servlet>
  <servlet-name>amdin_category</servlet-name>
  <servlet-class>admin_product.admin_category</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>amdin_category</servlet-name>
  <url-pattern>/admin/admin_category.html</url-pattern>
  </servlet-mapping>        
  <servlet>
  <servlet-name>amdin_category_write</servlet-name>
  <servlet-class>admin_product.admin_category_write</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>amdin_category_write</servlet-name>
  <url-pattern>/admin/admin_category_write.html</url-pattern>
  </servlet-mapping> 
  <servlet>
  <servlet-name>cate_writeok</servlet-name>
  <servlet-class>admin_product.cate_writeok</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>cate_writeok</servlet-name>
  <url-pattern>/admin/cate_writeok.do</url-pattern>
  </servlet-mapping>     
  <servlet>
  <servlet-name>admin_product_write</servlet-name>
  <servlet-class>admin_product.admin_product_write</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>admin_product_write</servlet-name>
  <url-pattern>/admin/admin_product_write.html</url-pattern>
  </servlet-mapping>      
  <servlet>
  <servlet-name>product_writeok</servlet-name>
  <servlet-class>admin_product.product_writeok</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>product_writeok</servlet-name>
  <url-pattern>/admin/product_writeok.do</url-pattern>
  </servlet-mapping>   
   <servlet>
  <servlet-name>admin_category_delok</servlet-name>
  <servlet-class>admin_product.admin_category_delok</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>admin_category_delok</servlet-name>
  <url-pattern>/admin/admin_category_delok.do</url-pattern>
  </servlet-mapping> 
  <servlet>
  <servlet-name>admin_product_delok</servlet-name>
  <servlet-class>admin_product.admin_product_delok</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>admin_product_delok</servlet-name>
  <url-pattern>/admin/admin_product_delok.do</url-pattern>
  </servlet-mapping>   
</web-app>